node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/my-project.iml
/.idea/vcs.xml
/yarn.lock
